/* Container do Swiper */
.swiper-container {
  width: 100%;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/* Slide fixo */
.swiper-slide {
  width: 960px; /* LARGURA FIXA */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagens centralizadas */
.swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
